// colors.scss
// A place for any/all color variables to live (so that dependency order can be controlled in styles.scss)

$color-warning: #f00;

$color-amica-black: #333;
$color-amica-teal: #00534c;
$color-amica-orange: #a9580a;
$color-amica-dust: #666;
$color-amica-ghost: #f7f6f4;
$color-amica-slate: #e4e2db;
$color-amica-bone: #d6d6d6;
$color-amica-ash: #b2b2b2;
$color-logo-teal: #0e7e75;
